    main{
        width: 100%;
    height: auto;
        /* overflow-x: hidden; */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -99999;
        /* background-color: white; */
        background-color: #1E1E1E;
        border-radius: 30px; 
        /* display: flex; */
        /* justify-content: center; */
    }
    section{
        border-radius: 30px 30px 0px 0px; 


        background-color: #ffff;
        margin: 10px;
        /* width: 9%; */
        z-index: +9999;
    }
    .top1{
    
        background-color: #ffff;
    /* border: 1px solid red; */
    width: 100%;
        /* height: 100vh; */
        /* border-radius: 30px 30px 0px 0px;  */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top01{
        width: 93%;
    /* border: 1px solid red; */
        padding-bottom:5% ;
    
    margin-left:3.5%;
    }
    .top11{

        font-family: MMedium;
        font-size: 2.50vw;
        padding-top: 6%;
        line-height: 48px;
        letter-spacing: -0.8px;
    }
    .top12{
        font-family: Semibold;
        font-size: 6.75vw;
            
    }
 .tyjfdyukigh{
    margin-top: -35px;
    /* border: 1px solid red; */
 }
    
    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 3.8%;
        /* justify-content:flex-start; */
        align-items: center;
        /* border: 1px solid red; */
      }
    .timeline {
        height: 5px;
        width:33%;
        background-color: #e5e5e5;
      }
      #circle1{
        background-color: #0A66C2;
      }
      
      .stub1 {
        line-height: 300px;
        font-size: 24px;
        background-color: #eae4e4;
      }
      
      .stub2 {
        height: 1000px;
      }
      
      .circle {
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 50%;
        /* border: 1px solid red; */
        background-color: #e5e5e5;
      }
      
      .circleWrapper {
        position: relative;
      }
      .FirstOne{
        width:7.6171875vw ;
        height:7.6171875vw ;
       margin: 20px 0;
        background-color: #D9D9D9;
      }
      .diuiobuji{
        margin-bottom: 20px;
      }
      .message {
        position: absolute;
        top: 20%;
        left: 50%;
        min-width: 24.5vw;
        width: 100%;
        margin-top: 30px;
        margin-left: -13px;
        /* border: 1px solid red; */
        /* padding-right: 20px; */
        font-weight: bold;
      }
      .hgfdytrfcuy{
        opacity: 0.2;
      }
    .top110{
        width: 100%;
        padding-top: 1%;
    }
    .top110 img{
        width: 70%;
    }
    .top110mv{
        display: none;
    }
    .top02{
        width: 93%;
    padding-bottom:6% ;
    padding-left: 3.5%;
    display: flex;
    justify-content: space-between;
    }
    .top13{
    
    /* width: 50%; */
    }
    .top14{
        font-family: Semibold;
        font-size: 1.04vw;
        padding-bottom: 5%;
        line-height: 21px;
    }
    .top15{
    
        border-radius: 30px;
        font-family: Semibold;
        font-size: 1.04vw;
        display: flex;
        justify-content: center;
        width: 100%;
        color: #ffff;
        background-color: #0A66C2;
     

    }
    .top15 a{
        padding-top: 3%;
        padding-bottom:3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    color: #ffff;
    width: 100%;
    }
    .top17{
        width: 100%;
        line-height: 20px;
        letter-spacing: -0.8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .top17 img{
        margin-left: 0vh;
        width:15%;
    
    }
    .top16{
        width: 38%;
        padding-right: 0%;
        font-family: MMedium;
        font-size: 1.55vw;
        line-height: 30px;
        letter-spacing: -0.8px;
    }

    /********************************/

    .topwee{
        width: 80%;


    }
    .topwee img{
        width: 100%;
      

    }
    .topwee1{
        display: none;
    }
    .top2{
         padding-top: 5%;
         position: sticky;
         position: -webkit-sticky;
         top: -11%;
    }
    .top21{
        width: 15%;
    
        background-color: #F5F5F5;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .top22{
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;

    }
    .top22 img{
        width: 55%;
        
    }
    .top23{
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: #F5F5F5;
    }
    .top24{
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 40%;
        margin-left: 3.5%;
        font-size: 2.60vw;
        font-family: Semibold;
    }

    .top24 img{
        width: 40%;
        margin-left: 3%;
        
    }


    /**************************/

    .top3{
        padding-top: 5%;
        position: sticky;
        position: -webkit-sticky;
        top: -11%;
    
    }
    .top31{
        width: 15%;
        margin-left: 15%;
        background-color: #1E1E1E;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    
    }
    .top32{
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;

    }
    .top32 img{
        width: 55%;
        
    }
    .top33{
        background-color: #1E1E1E;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    
        display: flex;
        width: 100%;
    }
    .top341 {
      line-height: 48px;         
    font-size: 2.60vw;
    font-family: Semibold;
    color: #F5F5F5;
    margin-left: 3.5%;
    padding-top: 10%;
    padding-bottom: 2%;
    width: 100%;
    }

    .top342 {
        color: #F5F5F5;
        margin-left: 3.5%;
        font-family: Regular;
        font-size: 1.04vw;
        width:60%;
        margin-top: 2%;
        line-height: 23px;
        
    }
    .top342 img{
        width: 100%;
        
    }
    .top343 {
        margin-left: 7%;
        padding-bottom: 7%;
        padding-top: 10%;
    }
    .top343 img{
        width: 50%;
        
    }
    .top34{
        width: 50%;
        padding-left: 2%;
        
    }
    .top35{
    margin-top: 3%;
        width: 50%;
    }
    .top351{
        padding-left: 2%;
        width: 95%;
        padding-top: 3%;
    }
    .top352{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100% ;
        padding-top: 3%;
    }
    .top353{
        font-family: MMedium;
        font-size: 1.56vw;
        color: #F5F5F5;
        line-height: 28px;
    }
    .top355{
        /* width: 100%;  */

    }
    .top355 img{
    width: 4vw;

    }
    @media (max-width:1000px){
        .top355 img{
            width: 5vw;
        
        }
    }
    #top354{
        font-family: MMedium;
        font-size: 1.56vw;
        color: #F5F5F5;
        line-height: 28px;
    }
    .hr{
        border: 0.1vw solid #F5F5F5;
    }

    /**************************/
    .top4{
        margin-top: 5%;
        position: sticky;
        position: -webkit-sticky;
        top: -1%;
        border-bottom: 1px solid #1E1E1E;
    
    }
    .top41{
        width: 15%;
        margin-left: 30%;
        background-color: #F5F5F5;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

    }
    .top42{
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;

    }
    .top42 img{
        width: 55%;
        
    }
    .top43{
        background-color: #F5F5F5;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom: 1px solid #1E1E1E;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .top431{
        font-size: 2.60vw;
        font-family: Semibold;
         text-align: center;
    }
    .top44{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        /* border: 1px solid red; */
        padding-top: 3%;
        line-height: 48px;
        letter-spacing: -0.8px;
    }
    .top44mv{
        display: none;
    }
    .top451{
        font-size: 1.04vw;
        font-family: Regular;
    text-align: center;
    line-height: 23px;
    letter-spacing: -0.8px;
    }
    .top45{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        /* border: 1px solid red; */
        padding-top: 3%;
    }
    .top45mv{
        display: none;
    }
    .top46{
        display: flex;
        justify-content: space-between;
        width: 93%;
        padding-top: 5%;
        padding-bottom: 6%;
        margin-left: 3.5%;
        border-bottom: 1px solid #1E1E1E;
    
    }
    .top461{

        width: 20%;
        background-color: #1E1E1E;
        border-radius: 11.45px;
        display: flex;
        flex-direction: column;
        
    }
    .top462{
        width: 100%;
        padding-top: 10%;
        padding-left: 5%;
    }
    .top462 img{
        width: 3.13vw;
    }
    .top463{
        font-family: Semibold;
        font-size: 1.24vw;
        color: #F5F5F5;
        padding-top: 5%;
        padding-left: 5%;
        line-height: 24px;
    
    }
    .top464{
        font-family: Regular;
        color: #F5F5F5;
        font-size: 1.04vw;
        width: 90%;
        line-height: 20px;
        letter-spacing: -0.8px;

    }
    .top465{
    display: flex;
    
        padding-left: 2%;
        padding-bottom: 10%;
        width: 100%;
        
    }
    .top465 img{
    padding-left: 5%;
        width: 15%;
    }
    .top466{
        font-family: Semibold;
        font-size: 1vw;
        color: #F5F5F5;
        line-height: 20px;
        letter-spacing: -0.8px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        
    }
    .top467{
    
        padding-top: 5%;
        padding-left: 5%;
        height: 12vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /********************/


    .top5{
        padding-top: 5%;
        position: sticky;
        position: -webkit-sticky;
        top: 0%; 
    
    }
    .top51{
        width: 15%;
        margin-left: 45%;
        background-color: #1E1E1E;
    /* border: 1px solid red; */

    border-radius: 15px 15px 0 0;
    }

    .top52{
        
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;

    }
    .top52 img{
        width: 40%;
        
    }
    .top53{
    /* border: 1px solid red; */

        background-color: #1E1E1E;

    border-radius: 30px 30px 0 0 ;    
        display: flex;
        justify-content: center;
        width: 100%;
        /* padding-bottom: 25%; */
    }
    .inner53{
        width: 93%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;

    }
    .top55{
        /* border: 1px solid red; */
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }

    .top551{
        font-size: 2.50vw;
        font-family: Semibold;
        color: #ffff;
        line-height: 48px;
    padding-top: 10%;

    }

    .top563{
        
        border-radius: 30px;
        font-family: Semibold;
        font-size: 1.04vw;
        display: flex;
        justify-content: center;
        /* width: 100%; */
        width: 9.90vw;
        color: #ffff;
        border: 1px solid #0A66C2;
        margin-top: 2%;


    }
    .top563 a{
        padding-top: 3%;
        padding-bottom:3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    .top564{
        width: 100%;
       line-height: 20px;
       letter-spacing: -0.8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top564 img{
        margin-left: 2vh;
        width:20%;
    
    }

    .top56{
        /* padding-left: 8.5%; */
        padding-bottom: 10%;

    }
    .top56mv{
        display: none;
      
    }
    .top561{
        font-size: 1.10vw;
        font-family: Regular;
        color: #ffff;
        line-height: 21px;

    }
    .top562{
        font-size: 1.10vw;
        font-family: Exbold;
        color: #ffff;
        line-height: 21px;
    }
    .top57{
        width: 47.3%;
    padding-top: 3%;
    padding-bottom: 6%;
    }
    .top571{
    padding-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    .top572{
        font-family: MMedium;
        font-size: 1.1vw;
        color: #ffff;
        display: flex;
        align-items: center;
        /* letter-spacing: -0.8px; */
        line-height: 21px;

    }
    #top572{
        width: 80%;
        font-family: MMedium;
        font-size: 1.1vw;
        color: #ffff;
        /* letter-spacing: -0.8px; */
        line-height: 21px;
    }


    #f1{
        margin-top: -25%;
    }

    @media (max-width:700px){
        .top2 {
            position: unset;
        }
        .top3 {
            position: unset;
        }
        .top4{
            position: unset;
        }
        .top01{
        }
        .top11{

            font-family: MMedium;
            font-size: 24px;
            padding-top: 25%;
        }
        .top110{
            display: none;
        
        }
        .top110mv{
            width: 100%;
        }
        .top110mv img{
            width: 80%;
        }
        .top110mv{
            display: block;

        }


        .top02{
        
            display: flex;
            flex-direction: column-reverse;
        }
        .top21{
            width: 15%;
        
            background-color: #F5F5F5;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .top22{
            width: 100%;
            text-align: center;
            padding-top: 5%;
            padding-bottom: 5%;
    
        }
        .top22 img{
            width: 70%;
            
        }
        .top23{
            width: 100%;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            background-color: #F5F5F5;
        }
        .top24{
            width: 100%;
            padding-top: 5%;
            padding-bottom: 5%;
            width: 40%;
            margin-left: 3.5%;
            font-size: 2.60vw;
            font-family: Semibold;
        }
    
        .top24 img{
            width: 40%;
            margin-left: 3%;
            
        }
        .top14{
    
            font-family: Semibold;
            font-size: 14px;
            padding-top: 5%;
        }
        .top15{
    
            width: 70%;
        }
        .top16{
            width: 95%;
            padding-right: 0%;
            font-family: MMedium;
            font-size: 20px;
        }
        .top17{
            width: 100%;
        font-size: 14.4px;
        
        font-family: Semibold;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .topwee{
            display: none;
        }
        .topwee1{
            display: block;
            width: 95%;
            margin-left: 2.5%;
        }
        .topwee1 img{
            width: 100%;
        }
        .top2{
            margin-top: 10%;
            width: 95%;
        }
        .top3{
            margin-top: 10%;
        }
        .top31{
            width: 40%;
            margin-left: 0%;
        }
        .top32 img{
            width:70%;
            
        }
        .top33{
            display: flex;
            flex-direction: column;
            border-top-left-radius:0px;
        }
        .top34{
            width: 100%;
            padding-left: 2%;
            
        }
        .top35{
        margin-top: 3%;
            width: 100%;
            padding-bottom: 10%;
        }
        .top355 img{
            width:50px;
        
        }
        .top341 {
    
            font-size: 28px;
        
            width: 100%;
        }
        
        .top342 {
            color: #F5F5F5;
            margin-left: 2.5%;
            font-family: Regular;
            font-size: 17px;
            width:95%;
        }
        .top343 {
            margin-left: 2.5%;
            padding-bottom: 10%;
            padding-top: 15%;
        }
        .top343 img{
            width: 95%;
            
        }
        .top351{
            padding-left: 3%;
            width: 98%;
            padding-top: 3%;
        }
        .top353{
            font-family: MMedium;
            font-size: 20px;
            color: #F5F5F5;
            width: 80%;
        }
        #top354{
            font-family: MMedium;
            font-size: 20px;
        }
       .top4{
 
        margin-top: 10%;
       }
        .top41{
            width: 40%;
            margin-left: 0%;
            background-color: #F5F5F5;
            border-top-left-radius: 0px;
        
        
        }
        .top42 img{
            width:70%;
            
        }
        .top43{
              height: 100%;
        }
        .top431{
            font-size: 28px;
            font-family: Semibold;
        text-align: start;
        }
        .top44{
            display:none ;
        }
        .top44mv{
            padding-top: 5%;
            margin-left: 2.5%;
            width: 95%;
            display: block;
        
        }
        .top45{
          
        width: 95%;
        margin-left: 2.5%;
        }   
        .top451{
            font-size: 17px;
            font-family: Regular;
        text-align: start;
       
        margin-left: 2.5%;
        width: 95%;
        }
        .top45mv{
            padding-top: 5%;
            padding-bottom: 5%;

            display: block;
        }
        .top45{
            display: none;
        }
        .top46{
           display: flex;
           flex-direction: column;
         
        }
        .top461{
            margin-top: 5%;
            width: 100%;
            background-color: #1E1E1E;
            border-radius: 11.45px;
            display: flex;
            flex-direction: column;
           height: 50vh;
        }
        .top462{
                width: 100%;
                padding-top: 5%;
                padding-left: 5%;
            
        }
        .top462 img{
            width: 60px;
        }
        .top463{
            font-family: Semibold;
            font-size: 20px;
            color: #F5F5F5;
            padding-top: 5%;
            padding-left: 5%;

        }
        .top464{
            font-family: Regular;
            color: #F5F5F5;
            font-size: 17px;
            width: 90%;
            padding-top: 5%;
    
        }
        .top465{
            display: flex;
           
            padding-left: 0%;
            padding-bottom: 0%;
            width: 100%;
        }
        .top465 img{
        padding-left: 5%;
        padding-bottom: 0%;
            width: 15%;
        }
        .top466{
            font-family: Semibold;
            font-size: 15.97px;
            color: #F5F5F5;
            
        }
        
        .top467{
            padding-top: 10%;
            padding-left: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .top5{
            padding-top: 5%;
          
        
        }
        .top51{
            width: 40%;
            margin-left: 0%;
            background-color: #1E1E1E;
        /* border: 1px solid red; */
    
        border-radius: 15px 15px 0 0;
        }
        .top52 img{
            width:50%;
            
        }
        .top53{
            /* border: 1px solid red; */
        
                background-color: #1E1E1E;
        
            border-radius: 0 30px 0 0 ;    
                display: flex;
                justify-content: center;
                width: 100%;
                /* padding-bottom: 25%; */
            }

        .inner53{
             display: flex;
            flex-direction: column;
            }
            .top55{
                width: 100%;
            }
            
    .top551{
        font-size: 28px;
        font-family: Semibold;
        color: #ffff;
    /* padding-left: 8.5%; */
    /* border: 1px solid red; */
    padding-top: 10%;

    }
            .top56{
                display: none;
            }
            .top56mv{
               display: block;
               width: 100%;
               padding-bottom: 10%;
            }
            .top57{
                width: 100%;
            }
            .top572{
                width: 90%;
                font-family: MMedium;
                font-size: 17px;
                color: #ffff;
                display: flex;
                align-items: center;
            }
            #top572{
                font-family: MMedium;
                font-size: 17px;
                color: #ffff;
            }
            .top561{
                font-size: 17.83px;
                font-family: Regular;
                color: #ffff;
        
            }
            .top562{
                font-size: 17.83px;
                font-family: Exbold;
                color: #ffff;
            }
                .top563{
        
        border-radius: 30px;
        font-family: Semibold;
        font-size: 14.43px;
        display: flex;
        justify-content: center;
        /* width: 100%; */
        width: 50%;
        color: #ffff;
        border: 1px solid #0A66C2;
        margin-top: 2%;


    }
    .top563 a{
        padding-top: 3%;
        padding-bottom:3%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    .top564{
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top564 img{
        margin-left: 2vh;
        width:20%;
    
    }


    .tyjfdyukigh{
        margin-top: 0;
        /* border: 1px solid red; */
     }
        
        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 3.8%;
            /* justify-content:flex-start; */
            align-items: flex-start;
            /* border: 1px solid red; */
          }
        .timeline {
            height: 250px;
            width:5px;
           margin-left: 2%;
            background-color: #e5e5e5;
          }
          #circle1{
            background-color: #0A66C2;
          }

          

          .message {
            position: absolute;
            top: 20%;
            left: 50%;
            min-width: 65vw;
            width: 100%;
            margin-top: -30px;
            margin-left: 25px;
    
          }
    }